div{
    position: relative;
    
}

button{
    position: relative;
    left: 20px;
}


#divTauler, #divFitxes{
    
    top: 100px;
    height: 40%;
}



.fitxa{
    position: relative;
    margin-left: 20px;
    padding: 3%;
    background-color: green;
    cursor: pointer;
}